<h1>Welcome to Our Site</h1>

<p>
  Hey <%= @user.email %> thank you for sign up  
  
</p>

<p>
  
  your user details are given below:
  
</p>
<p>
  <strong> first name: </strong>  <%= @user.first_name %> 
  
</p>

<p>
  <strong> last name: </strong> <%= @user.last_name %> 
  
</p>

<p>
  <strong> Contact number: </strong> <%= @user.contact_number %>
  
</p>

<p>
  <strong> password: </strong> <%= @user.password %>
  
</p>

